IS_LOCAL="true"
CLOUD_ID=
ELASTICSEARCH_API_KEY=

LLM_TYPE="azure"
AZURE_OPENAI_DEPLOYMENT_NAME= 
AZURE_OPENAI_KEY= 
AZURE_OPENAI_ENDPOINT=

MONITORING_CLOUD_ID = 
MONITORING_ELASTICSEARCH_URL = 
MONITORING_API_KEY =
LOGS_INDEX_NAME= 
ELASTIC_APM_SERVICE_NAME=
ELASTIC_APM_ENVIRONMENT= "development"
ELASTIC_APM_SECRET_TOKEN= 
ELASTIC_APM_URL= 
EVENT_DATASET_LOGS= "ai-search-demo"

OPENAI_API_KEY=

AZURE_SPEECH_KEY= 
AZURE_SPEECH_REGION= 